<div>
  <h2 id="page-heading" data-cy="FurnitureHeading">
    <span jhiTranslate="furnitureApp.furniture.home.title">Furnitures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="furnitureApp.furniture.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-furniture"
        [routerLink]="['/furniture/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="furnitureApp.furniture.home.createLabel"> Yangi Furniture qo`shish </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="furnitures?.length === 0">
    <span jhiTranslate="furnitureApp.furniture.home.notFound">No Furnitures found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="furnitures && furnitures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="photo">
            <div class="d-flex">
              <span jhiTranslate="furnitureApp.furniture.photo">Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="furnitureApp.furniture.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="furnitureApp.furniture.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="installation">
            <div class="d-flex">
              <span jhiTranslate="furnitureApp.furniture.installation">Installation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type.id">
            <div class="d-flex">
              <span jhiTranslate="furnitureApp.furniture.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brand.id">
            <div class="d-flex">
              <span jhiTranslate="furnitureApp.furniture.brand">Brand</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let furniture of furnitures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/furniture', furniture.id, 'view']">{{ furniture.id }}</a>
          </td>
          <td>{{ furniture.photo }}</td>
          <td>{{ furniture.image }}</td>
          <td>{{ furniture.name }}</td>
          <td jhiTranslate="{{ 'furnitureApp.Installation.' + furniture.installation }}">{{ furniture.installation }}</td>
          <td>
            <div *ngIf="furniture.type">
              <a [routerLink]="['/types', furniture.type.id, 'view']">{{ furniture.type.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="furniture.brand">
              <a [routerLink]="['/brand', furniture.brand.id, 'view']">{{ furniture.brand.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/furniture', furniture.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Ko`rish</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/furniture', furniture.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">O`zgartir</span>
              </button>

              <button type="submit" (click)="delete(furniture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">O`chir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="furnitures && furnitures.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
